<div id="page_content">

<img src="<%= @characters.picture %>">

<h1>Name: <%=@characters.name%></h1>

<h1>Gender: <%=@characters.gender%></h1>

<h1>Race: <%=@characters.race%></h1>

<h1>Alignment: <%=@characters.alignment%></h1>

<h1>Biography:</h1> 
	
	<div id="biography">
	<%=@characters.biography%>
	</div>

</div>