<div id="page_content">


<img src= '<%= @character.picture %>'>

<h1>Name: <%=@character.name%></h1>

<h1>Gender: <%=@character.gender%></h1>

<h1>Race: <%=@character.race%></h1>

<h1>Alignment: <%=@character.alignment%></h1>

<h1>Biography:</h1>

	<div id="biography">
	<%=@character.biography%>
	</div>

</div>
